## 1. "Data", "Analytics", "DataAnalytics"
##### 1.1. Write a script that goes through all numbers from 1 to 100 and prints out "Data" for every multiple of 3, "Analytics" for every multiple of 5, "DataAnalytics" for every number that is a multiple of 3 and 5, and otherwise prints the number itself. You can use the built-in function __range()__ for this.

In [1]:
for i in range(1, 101):
    text = ""
    if i % 3 == 0:
        text += "Data"
    if i % 5 == 0:
        text += "Analytics"
    if len(text) == 0:
        text = i
    print(text, end=", ")

1, 2, Data, 4, Analytics, Data, 7, 8, Data, Analytics, 11, Data, 13, 14, DataAnalytics, 16, 17, Data, 19, Analytics, Data, 22, 23, Data, Analytics, 26, Data, 28, 29, DataAnalytics, 31, 32, Data, 34, Analytics, Data, 37, 38, Data, Analytics, 41, Data, 43, 44, DataAnalytics, 46, 47, Data, 49, Analytics, Data, 52, 53, Data, Analytics, 56, Data, 58, 59, DataAnalytics, 61, 62, Data, 64, Analytics, Data, 67, 68, Data, Analytics, 71, Data, 73, 74, DataAnalytics, 76, 77, Data, 79, Analytics, Data, 82, 83, Data, Analytics, 86, Data, 88, 89, DataAnalytics, 91, 92, Data, 94, Analytics, Data, 97, 98, Data, Analytics,

##### 1.2. Then turn the script into a function, which takes two parameters: "start", and "end", which define the range we want to check. Call it with a range of your choice to make sure it is working.

In [2]:
def data_analytics(start, end):
    for i in range(start, end+1):
        text = ""
        if i % 3 == 0:
            text += "Data"
        if i % 5 == 0:
            text += "Analytics"
        if len(text) == 0:
            text = i
        print(text, end=", ")

data_analytics(4, 40)

4, Analytics, Data, 7, 8, Data, Analytics, 11, Data, 13, 14, DataAnalytics, 16, 17, Data, 19, Analytics, Data, 22, 23, Data, Analytics, 26, Data, 28, 29, DataAnalytics, 31, 32, Data, 34, Analytics, Data, 37, 38, Data, Analytics,

##### 1.3. Make the function return the number of "Data", "Analytics" and "DataAnalytics" it wrote, as a dictionary. Call it and print the result for the range from 50 - 200.

In [3]:
def data_analytics(start, end):
    counts = {
        "Data": 0,
        "Analytics": 0,
        "DataAnalytics": 0
    }
    
    for i in range(start, end+1):
        text = ""
        if i % 3 == 0:
            text += "Data"
        if i % 5 == 0:
            text += "Analytics"
        if len(text) == 0:
            text = i
        else:
            counts[text] = counts[text]+1
            
    return counts

result = data_analytics(50,200)
print(result)

{'Data': 40, 'Analytics': 21, 'DataAnalytics': 10}

## 2. Cereals
##### 2.1. Load the __data/cereal.csv__ data set with __pandas__ and save it to a variable called __df__ _(short for: dataframe)_.

In [4]:
import pandas as pd

df = pd.read_csv("./data/cereal.csv")
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

##### 2.2. Try the functions __.head()__, __.tail()__, __.info()__. What do they show?

In [5]:
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [6]:
df.tail()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

##### 2.3. Try the __.columns__, __.shape__ properties. What do they show?

In [8]:
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [9]:
df.shape

(77, 16)

##### 2.4. You can select only one column to view. A column is known as a __series__. Show only the mfr column.

In [10]:
df['mfr']

0     N
1     Q
2     K
3     K
4     R
     ..
72    G
73    G
74    R
75    G
76    G
Name: mfr, Length: 77, dtype: object

##### 2.5. Some functions can be run on series. Show the list of __unique__ values in the __mfr__ column.

In [11]:
df['mfr'].unique()

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

##### 2.6. You can narrow down your view by showing only specific columns. Show only the __name__ and the __sugars__ columns.

In [12]:
df[['name','sugars']]

                         name  sugars
0                   100% Bran       6
1           100% Natural Bran       8
2                    All-Bran       5
3   All-Bran with Extra Fiber       0
4              Almond Delight       8
..                        ...     ...
72                    Triples       3
73                       Trix      12
74                 Wheat Chex       3
75                   Wheaties       3
76        Wheaties Honey Gold       8

[77 rows x 2 columns]

##### 2.7. You can filter your rows to meet a specific condition. Show only rows that have more than __12g of sugar__.

In [13]:
df[df['sugars'] > 12]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
14,Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13,55,25,2,1.00,1.00,22.736446
18,Count Chocula,G,C,110,1,1,180,0.0,12.0,13,65,25,2,1.00,1.00,22.396513
24,Froot Loops,K,C,110,2,1,125,1.0,11.0,13,30,25,2,1.00,1.00,32.207582
30,Golden Crisp,P,C,100,2,0,45,0.0,11.0,15,40,25,1,1.00,0.88,35.252444
46,Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13,160,25,3,1.50,0.67,30.313351
52,Post Nat. Raisin Bran,P,C,120,3,1,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594
66,Smacks,K,C,110,2,1,70,1.0,9.0,15,40,25,2,1.00,0.75,31.230054
70,Total Raisin Bran,G,C,140,3,1,190,4.0,15.0,14,230,100,3,1.50,1.00,28.592785

##### 2.8. You can sort the data by a specific column. Sort the dataframe by __protein__ level in descending order.

In [14]:
df.sort_values('protein', ascending=False)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999
67,Special K,K,C,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324
57,Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.0,0.67,50.828392
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,Honey Graham Ohs,Q,C,120,1,2,220,1.0,12.0,11,45,25,2,1.0,1.00,21.871292
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
37,Honey-comb,P,C,110,1,0,180,0.0,14.0,11,35,25,1,1.0,1.33,28.742414
25,Frosted Flakes,K,C,110,1,0,200,1.0,14.0,11,25,25,1,1.0,0.75,31.435973
14,Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13,55,25,2,1.0,1.00,22.736446

##### 2.9. Using a function on the column, figure out what the maximum amount of __fiber__ is in this data set.

In [15]:
df['fiber'].max()

14.0