## 1. Cereals
##### 1.1. Load the __data/cereal.csv__ data set with __pandas__ and save it to a variable called __df__ _(short for: dataframe)_.

In [1]:
import pandas as pd

df = pd.read_csv("data/cereal.csv")
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

#### When working with a dataset, the first thing you want to do is get familar with the data.

##### 1.2. Try the functions __.head()__, __.tail()__, __.info()__. What do they show?

In [2]:
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [3]:
df.tail()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

##### __.head()__ and __.tail()__ can show as many rows as you want. How would you see the first and last 10 rows?

In [5]:
df.head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813

In [6]:
df.tail(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
67,Special K,K,C,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324
68,Strawberry Fruit Wheats,N,C,90,2,0,15,3.0,15.0,5,90,25,2,1.0,1.00,59.363993
69,Total Corn Flakes,G,C,110,2,1,200,0.0,21.0,3,35,100,3,1.0,1.00,38.839746
70,Total Raisin Bran,G,C,140,3,1,190,4.0,15.0,14,230,100,3,1.5,1.00,28.592785
71,Total Whole Grain,G,C,100,3,1,200,3.0,16.0,3,110,100,3,1.0,1.00,46.658844
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

##### 1.3. Try the __.columns__, __.shape__ properties. What do they show?

In [7]:
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

##### You can also get the name only one specific column. How would you get the name of the __third__ column?

In [8]:
df.columns[2]

'type'

In [9]:
df.shape

(77, 16)

##### 1.4. Now we know how many rows of data we have. Now run __.nunique()__ . What does this show?

In [10]:
df.nunique()

name        77
mfr          7
type         2
calories    11
protein      6
fat          5
sodium      27
fiber       13
carbo       22
sugars      17
potass      36
vitamins     3
shelf        3
weight       7
cups        12
rating      77
dtype: int64

##### 1.5. Most datasets contain null values. To see which columns have null values you need to run __.count()__.

In [11]:
df.count()

name        77
mfr         77
type        77
calories    77
protein     77
fat         77
sodium      77
fiber       77
carbo       77
sugars      77
potass      77
vitamins    77
shelf       77
weight      77
cups        77
rating      77
dtype: int64

##### 1.6. You can select only one column to view. A column is known as a __series__. Show only the mfr column.

In [12]:
df['mfr']

0     N
1     Q
2     K
3     K
4     R
     ..
72    G
73    G
74    R
75    G
76    G
Name: mfr, Length: 77, dtype: object

##### 1.7. Can you now see how many unique values are just in __mfr__?

In [13]:
df['mfr'].nunique()

7

##### 1.8. Some functions can be run on series. Show the list of __unique__ values in the __mfr__ column.

In [14]:
df['mfr'].unique()

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

##### 1.9. You can narrow down your view by showing only specific columns. Show only the __name__ and the __sugars__ columns.

In [15]:
df[['name','sugars']]

                         name  sugars
0                   100% Bran       6
1           100% Natural Bran       8
2                    All-Bran       5
3   All-Bran with Extra Fiber       0
4              Almond Delight       8
..                        ...     ...
72                    Triples       3
73                       Trix      12
74                 Wheat Chex       3
75                   Wheaties       3
76        Wheaties Honey Gold       8

[77 rows x 2 columns]

##### 1.10. You can filter your rows to meet a specific condition. Show only rows that have more than __12g of sugar__.

In [16]:
df[df['sugars'] > 12]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
14,Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13,55,25,2,1.00,1.00,22.736446
18,Count Chocula,G,C,110,1,1,180,0.0,12.0,13,65,25,2,1.00,1.00,22.396513
24,Froot Loops,K,C,110,2,1,125,1.0,11.0,13,30,25,2,1.00,1.00,32.207582
30,Golden Crisp,P,C,100,2,0,45,0.0,11.0,15,40,25,1,1.00,0.88,35.252444
46,Mueslix Crispy Blend,K,C,160,3,2,150,3.0,17.0,13,160,25,3,1.50,0.67,30.313351
52,Post Nat. Raisin Bran,P,C,120,3,1,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594
66,Smacks,K,C,110,2,1,70,1.0,9.0,15,40,25,2,1.00,0.75,31.230054
70,Total Raisin Bran,G,C,140,3,1,190,4.0,15.0,14,230,100,3,1.50,1.00,28.592785

##### 1.11. You can sort the data by a specific column. Sort the dataframe by __protein__ level in descending order.

In [17]:
df.sort_values('protein', ascending=False)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999
67,Special K,K,C,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324
57,Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.0,0.67,50.828392
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,Honey Graham Ohs,Q,C,120,1,2,220,1.0,12.0,11,45,25,2,1.0,1.00,21.871292
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
37,Honey-comb,P,C,110,1,0,180,0.0,14.0,11,35,25,1,1.0,1.33,28.742414
25,Frosted Flakes,K,C,110,1,0,200,1.0,14.0,11,25,25,1,1.0,0.75,31.435973
14,Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13,55,25,2,1.0,1.00,22.736446

##### 1.12. Using a function on the column, figure out what the maximum amount of __fiber__ is in this data set.

In [18]:
df['fiber'].max()

14.0

##### 1.13 Use various statistical function to learn more about the column __fiber__.

In [19]:
df['fiber'].min()

0.0

In [20]:
df['fiber'].mean()

2.1519480519480516

In [21]:
df['fiber'].median()

2.0

In [22]:
df['fiber'].var()

5.680423786739576

In [23]:
df['fiber'].std()

2.383363964387222

##### 1.14. __.groupby()__ is a function that allows you to group your data together based on different criteria. Let's start by grouping on __mfr__ and using min() as an aggregator.

In [24]:
df.groupby('mfr').min()

,name,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
mfr,,,,,,,,,,,,,,,
A,Maypo,H,100,4,1,0,0.0,16.0,3,95,25,2,1.00,1.00,54.850917
G,Apple Cinnamon Cheerios,C,100,1,1,140,0.0,10.5,1,25,25,1,1.00,0.50,19.823573
K,All-Bran,C,50,1,0,0,0.0,7.0,0,20,25,1,1.00,0.33,29.924285
N,100% Bran,C,70,2,0,0,1.0,5.0,0,-1,0,1,0.83,0.33,59.363993
P,Bran Flakes,C,90,1,0,45,0.0,11.0,3,25,25,1,1.00,0.25,28.025765
Q,100% Natural Bran,C,50,1,0,0,0.0,-1.0,-1,15,0,1,0.50,0.50,18.042851
R,Almond Delight,C,90,1,0,95,0.0,14.0,2,-1,25,1,1.00,0.67,34.139765

##### 1.15. Now Show all the manufacturers and their cereal's __minimum calories__.

In [25]:
df[['mfr','calories']].groupby('mfr').min()

     calories
mfr
A         100
G         100
K          50
N          70
P          90
Q          50
R          90

##### 1.16. Using conditions also known as __masks__ we can find the __name__ of the cereals with the lowest __calories__ from 1.15.

In [26]:
df[df['calories'] == 50]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.5,93.704912
54,Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0,15,0,3,0.5,1.0,60.756112
55,Puffed Wheat,Q,C,50,2,0,0,1.0,10.0,0,50,0,3,0.5,1.0,63.005645

##### 1.17. Now I want to see the __maximum fiber and vitamin values__ per manufacturer.

In [27]:
df[['mfr','fiber', 'vitamins']].groupby('mfr').max()

     fiber  vitamins
mfr
A      0.0        25
G      4.0       100
K     14.0       100
N     10.0        25
P      6.0        25
Q      2.7        25
R      4.0        25

##### 1.18. Now we know what the maximum values for __fiber__ and __vitamins__ are. But what is the __name__ of the cereal?

In [28]:
maskMfr = df['mfr'] == 'K'
maskFiber = df['fiber'] == 14.0
maskVitamins = df['vitamins'] == 100

In [29]:
df[maskMfr & maskFiber & maskVitamins]

Empty DataFrame
Columns: [name, mfr, type, calories, protein, fat, sodium, fiber, carbo, sugars, potass, vitamins, shelf, weight, cups, rating]
Index: []

Explain the output. How would you change the code?

In [30]:
df[maskMfr & maskFiber]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.5,93.704912

In [31]:
df[maskMfr & maskVitamins]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
38,Just Right Crunchy Nuggets,K,C,110,2,1,170,1.0,17.0,6,60,100,3,1.0,1.00,36.523683
39,Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9,95,100,3,1.3,0.75,36.471512
53,Product 19,K,C,100,3,0,320,1.0,20.0,3,45,100,3,1.0,1.00,41.503540

##### 1.19. We can also have more than one aggregation with a groupby. Try getting the __min__, __average__, and __max__ of every column while grouping on __mfr__.

In [32]:
df.groupby('mfr').describe()

    calories                                                            \
       count        mean        std    min    25%    50%    75%    max
mfr
A        1.0  100.000000        NaN  100.0  100.0  100.0  100.0  100.0
G       22.0  111.363636  10.371873  100.0  110.0  110.0  110.0  140.0
K       23.0  108.695652  22.218818   50.0  100.0  110.0  115.0  160.0
N        6.0   86.666667  10.327956   70.0   82.5   90.0   90.0  100.0
P        9.0  108.888889  10.540926   90.0  100.0  110.0  120.0  120.0
Q        8.0   95.000000  29.277002   50.0   87.5  100.0  120.0  120.0
R        8.0  115.000000  22.677868   90.0  100.0  110.0  120.0  150.0

    protein            ...  cups       rating                        \
      count      mean  ...   75%   max  count       mean        std
mfr                    ...
A       1.0  4.000000  ...  1.00  1.00    1.0  54.850917        NaN
G      22.0  2.318182  ...  1.00  1.50   22.0  34.485852   8.946704
K      23.0  2.652174  ...  1.00  1.00   23.0  44.038462  14.457434
N       6.0  2.833333  ...  1.00  1.00    6.0  67.968567   5.509326
P       9.0  2.444444  ...  0.88  1.33    9.0  41.705744  10.047647
Q       8.0  2.625000  ...  1.00  1.00    8.0  42.915990  16.797673
R       8.0  2.500000  ...  1.00  1.13    8.0  41.542997   6.080841


           min        25%        50%        75%        max
mfr
A    54.850917  54.850917  54.850917  54.850917  54.850917
G    19.823573  27.963172  36.181877  39.587829  51.592193
K    29.924285  34.478442  40.560159  50.013484  93.704912
N    59.363993  65.459333  68.319429  71.702084  74.472949
P    28.025765  35.252444  40.917047  52.076897  53.371007
Q    18.042851  30.955582  47.419974  53.310322  63.005645
R    34.139765  36.448858  41.721976  45.528205  49.787445

[7 rows x 104 columns]

In [33]:
df.groupby('mfr').aggregate(['min', 'mean', 'max'])

C:\Users\natal\AppData\Local\Temp\ipykernel_13820\3407432512.py:1: FutureWarning: ['name', 'type'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby('mfr').aggregate(['min', 'mean', 'max'])

    calories                  protein               fat               sodium  \
         min        mean  max     min      mean max min      mean max    min
mfr
A        100  100.000000  100       4  4.000000   4   1  1.000000   1      0
G        100  111.363636  140       1  2.318182   6   1  1.363636   3    140
K         50  108.695652  160       1  2.652174   6   0  0.608696   3      0
N         70   86.666667  100       2  2.833333   4   0  0.166667   1      0
P         90  108.888889  120       1  2.444444   3   0  0.888889   3     45
Q         50   95.000000  120       1  2.625000   5   0  1.750000   5      0
R         90  115.000000  150       1  2.500000   4   0  1.250000   3     95

     ... shelf weight                  cups                     rating  \
     ...   max    min      mean   max   min      mean   max        min
mfr  ...
A    ...     2   1.00  1.000000  1.00  1.00  1.000000  1.00  54.850917
G    ...     3   1.00  1.049091  1.50  0.50  0.875000  1.50  19.823573
K    ...     3   1.00  1.077826  1.50  0.33  0.796087  1.00  29.924285
N    ...     3   0.83  0.971667  1.00  0.33  0.778333  1.00  59.363993
P    ...     3   1.00  1.064444  1.33  0.25  0.714444  1.33  28.025765
Q    ...     3   0.50  0.875000  1.00  0.50  0.823750  1.00  18.042851
R    ...     3   1.00  1.000000  1.00  0.67  0.871250  1.13  34.139765


          mean        max
mfr
A    54.850917  54.850917
G    34.485852  51.592193
K    44.038462  93.704912
N    67.968567  74.472949
P    41.705744  53.371007
Q    42.915990  63.005645
R    41.542997  49.787445

[7 rows x 39 columns]