## Fun with LEGO

In this exercise, you will analyse this lego data set and find answers to interesting questions. This data set contains multiple .csv files (i.e. tables). Look at the __schema.png__ to understand how they are related.

For example: The table `sets` has a column called `theme_id`. The values of this column are from the `id` column of the __themes__ table.
So, if you want to know the name of the theme a set is using, you can __merge()__ the __themes__ table into the __sets__ table. (Use `how=left` for this).

##### Load the tables into separate pandas dataframes. Name these dataframes the same name as the table, e.g. __df_sets__.
> Hint: Don't forget to import pandas as pd. Otherwise you won't be able to use the pandas functions. <br>
> The path for your files should look like `data/lego/<filename>.csv`

In [1]:
import pandas as pd

In [2]:
df_sets = pd.read_csv("data/lego/sets.csv")
df_themes = pd.read_csv("data/lego/themes.csv")
df_inventories = pd.read_csv("data/lego/inventories.csv")
df_inventory_parts = pd.read_csv("data/lego/inventory_parts.csv")
df_colors = pd.read_csv("data/lego/colors.csv")
df_categories = pd.read_csv("data/lego/part_categories.csv")
df_parts = pd.read_csv("data/lego/parts.csv")

### 1. Sets
##### 1.A. How many lego sets exist?

In [3]:
# All of these three codes will give you the same number. You can decide which one you like most and use that one.
# Option 1
df_sets.shape[0]

# Option 2
df_sets["set_num"].count()

# Option 3
len(df_sets)

11673

##### 1.B. How many parts are in the smallest and biggest set? And how many parts are there on average in a set?
> Hint: You can use __.aggregate()__ to calculate multiple measures at once, but you can also calculate them separately.

In [4]:
# Option 1: As a dictionary
num_parts_info = {
    'min': df_sets["num_parts"].min(),
    'max': df_sets["num_parts"].max(),
    'mean': df_sets["num_parts"].mean()
}
print(num_parts_info)

# Option 2: Aggretate allows you to put multiple functions (even your own) as a list into it.
df_sets["num_parts"].aggregate(['min', 'max', 'mean'])

{'min': -1, 'max': 5922, 'mean': 162.26240041120533}

min       -1.0000
max     5922.0000
mean     162.2624
Name: num_parts, dtype: float64

##### 1.C. How many sets have the same amount of lego parts?
> Hint: You can use __value_counts()__ for this.

In [5]:
df_sets["num_parts"].value_counts()

0       473
6       310
4       300
1       285
3       278
       ...
2045      1
1536      1
2844      1
2448      1
5461      1
Name: num_parts, Length: 1092, dtype: int64

##### 1.D. What year are the oldest and newest sets in this data set from?

In [6]:
df_sets["year"].aggregate(['min', 'max'])

min    1950
max    2017
Name: year, dtype: int64

##### 1.E. How many sets are there in each year?
> Using __value_counts()__ and __sort_index()__ to sort them by year, show a __series__ of this information.

In [7]:
df_sets["year"].value_counts().sort_index()

1950      7
1953      4
1954     14
1955     28
1956     12
       ...
2013    593
2014    713
2015    665
2016    596
2017    296
Name: year, Length: 66, dtype: int64

##### 1.F. Which themes have the most sets?
> Just like before, use __value_counts()__. <br>
> However, to get the actual name of the themes, you have to __merge()__ the themes table into your sets. <br>
> Look at the __schema.png__ to see how the tables are connected. <br>
> Read up on __merge__ in the documentation or use google to find examples on how to use it. <br>
> Save the combined table into a new table called `df_sets_themes` and run your analysis on that combined data frame.

In [8]:
df_sets_themes = pd.merge(df_sets["theme_id"].value_counts(), df_themes, how="left", left_on="theme_id", right_on="id")
df_sets_themes

     theme_id   id            name  parent_id
0         246  246    Harry Potter        NaN
1         240  240        RC Train      233.0
2         219  219          Castle      217.0
3         216  216         Friends      207.0
4         192  192  Dragon Knights      186.0
..        ...  ...             ...        ...
570         1    1         Technic        NaN
571         1    1         Technic        NaN
572         1    1         Technic        NaN
573         1    1         Technic        NaN
574         1    1         Technic        NaN

[575 rows x 4 columns]

### 2. Colors

##### 2.1 What is the distribution of transparent vs. non-transparent (opaque) colors, i.e. how many colors are transparent and how many are opaque? Show it as a series.

In [9]:
df_colors["is_trans"].value_counts()

f    107
t     28
Name: is_trans, dtype: int64

### 3. Themes
##### 3.1. What are the 10 most used themes?
> Merge __sets__ and __themes__ first to get the name of themes as as well.

In [10]:
df_sets_themes = pd.merge(df_sets["theme_id"], df_themes, how="left", left_on="theme_id", right_on="id")
df_sets_themes["name"].value_counts()[:10]

Supplemental     496
Technic          435
City             287
Friends          269
Basic Set        257
Creator          249
Gear             246
Service Packs    242
Duplo            219
Star Wars        211
Name: name, dtype: int64