## Fun with LEGO

##### This homework consists of two parts.

##### In part one you will merge mutiple datasets into one and in part two you will be preforming basic statistical querying to answer questions.

#### Part 1

##### Following the LEGO schema uploaded to your Google Classroom, merge the tables __sets__, __inventories__, __inventory_parts__, and __colors__ into one table. To do this, use the __Pandas__ function __merge()__. For this exercise, always use __left__.

##### 1.1. First, load in all of the tables into their respective dataframes. Name these dataframes the same name as the bale.

In [1]:
import pandas as pd

In [2]:
df_sets = pd.read_csv("data/sets.csv")

In [3]:
df_inventories = pd.read_csv("data/inventories.csv")

In [4]:
df_inventory_parts = pd.read_csv("data/inventory_parts.csv")

In [5]:
df_colors = pd.read_csv("data/colors.csv")

##### 1.2. Merge __sets__ and __inventories__ on __set_num__ and save it into a new df.

In [7]:
df_merged = pd.merge(df_sets, df_inventories, how = 'left', on = 'set_num')

Check for the shape of your new df. It should be __(11684,7)__

In [11]:
df_merged.shape

(11684, 7)

##### 1.3. Now merge the __inventory_parts__ onto your new df using __id__ and __inventory_id__.

>This is a bit harder, so I encourage you to Google it! Save the outcame back into your new df.

In [14]:
df_merged = pd.merge(df_merged, df_inventory_parts, left_on = 'id', right_on = 'inventory_id')

Check for the shape of your new df. It should be __(580251, 12)__

In [16]:
df_merged.shape

(580251, 12)

##### 1.4. Finally merge __colors__ onto your df using __color_id__ and __id__. Save this final merge as __df__.

> Notice that you already have a column named __id__. Having two columns with the same name will make it impossible to identify the correct column. You can use the parameter _suffixies_ for this. Please read up on the documentation and follow this example: `pd(df1, df2, left_on='lkey', right_on='rkey', suffixes=('_left', '_right'))`

In [18]:
df = pd.merge(df_merged, df_colors, left_on = 'color_id', right_on = 'id', suffixes = ('', 'id_color'))

Your final shape should be __(580251, 16)__.

In [20]:
df.shape

(580251, 16)

In [22]:
df.columns

Index(['set_num', 'name', 'year', 'theme_id', 'num_parts', 'id', 'version',
       'inventory_id', 'part_num', 'color_id', 'quantity', 'is_spare',
       'idid_color', 'nameid_color', 'rgb', 'is_trans'],
      dtype='object')

#### Part 2

##### 2.1. Create a dictionary called __solutions__. When answering the questions, put your answer in this dictionary, with the first word of each line (e.g. 'all_pieces' or 'year_most') as the key and your answer as the value.

In [44]:
solutions = {}

##### 2.2. If you had one of each of the sets, how many pieces of Lego would you have then? Save your answer as __all_pieces__.

In [45]:
all_pieces = df[['set_num','num_parts']].groupby('set_num').sum()
all_pieces.head()

         num_parts
set_num
00-1         24021
00-2          6909
00-3          6407
00-4          6174
0011-2         120

In [46]:
solutions['all_pieces'] = all_pieces['num_parts'].sum()

In [47]:
solutions

{'all_pieces': 294074613}

##### 2.3. What is the average number of pieces in all sets? Save your answer as __average_pieces__.

In [76]:
avg_pieces = solutions['all_pieces'] / len(df_sets)

solutions['average_pieces'] = avg_pieces
solutions

{'all_pieces': 294074613,
 'year_most': 2016,
 'average_pieces': 25192.71935235158}

##### 2.4. In which year was the highest number of sets released? Save your answer as __year_most__.

In [60]:
year_most = df[['year', 'set_num']].groupby('year').count().sort_values('set_num', ascending=False).reset_index()

In [61]:
year_most.head()

   year  set_num
0  2016    49904
1  2015    48301
2  2014    41431
3  2013    34680
4  2012    31209

In [68]:
solutions['year_most'] = year_most['year'][0]

In [69]:
solutions

{'all_pieces': 294074613, 'year_most': 2016}

##### 2.5. What is the distribution of colors used in percent? Save your answer as __color_distribution__.

Use the __rgb__ code for this exercise.

##### 2.6. Which theme has to most transparent pieces. Save your answer as __most_transparent__.

##### 2.7. What percentage of all pieces do the transparent pieces make up? Save your answer as __transparent_distribution__.

##### 2.8. Come up with __three__ additional questions on you own and save them into __solutions__.