In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/aarhusbolig_2023-04-17.csv")

In [3]:
df

,url,address,type,rooms,size_m2,price,listings,text,deposit,rent,electricity,heat,water,tv_internet,b-ordning,other
0,https://aarhusbolig.dk/afdelinger/?bolignr=402...,Afd. 1 Paludan Müllers Vej/Jens Baggesens Vej,Lejlighed,2,70,6897,201.0,Husdyr: Det er tilladt af have en lille hund (...,10600.0,5366.0,NaN,691.0,200.0,205.0,NaN,435.0
1,https://aarhusbolig.dk/afdelinger/?bolignr=300...,Afd. 1 Paludan Müllers Vej/Jens Baggesens Vej,Lejlighed,3,77,7642,75.0,Husdyr: Det er tilladt af have en lille hund (...,11100.0,5790.0,NaN,795.0,219.0,205.0,NaN,633.0
2,https://aarhusbolig.dk/afdelinger/?bolignr=34&...,Afd. 2 Haugesundsvej m.fl.,Rækkehus,3,102,8304,2.0,Husdyr: Det er tilladt at holde husdyr.Udgifte...,25000.0,6033.0,NaN,NaN,NaN,450.0,NaN,1821.0
3,https://aarhusbolig.dk/afdelinger/?bolignr=14&...,Afd. 2 Haugesundsvej m.fl.,Rækkehus,4,102,7619,34.0,Husdyr: Det er tilladt at holde husdyr.Udgifte...,25000.0,6033.0,NaN,NaN,NaN,NaN,NaN,1586.0
4,https://aarhusbolig.dk/afdelinger/?bolignr=258...,Afd. 3 Viggo Stuckenbergs Vej,Lejlighed,1,28,3119,15.0,Husdyr: Det er tilladt at holde højest 2 neutr...,3920.0,1915.0,NaN,241.0,83.0,NaN,NaN,880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108,https://aarhusbolig.dk/afdelinger/?bolignr=480...,Afd. 48 Løkkegårdsparken,Rækkehus,3,88,7500,1.0,"Særlige vilkår: Alle boliger er røgfri, og der...",NaN,7500.0,NaN,NaN,NaN,NaN,NaN,NaN
2109,https://aarhusbolig.dk/afdelinger/?bolignr=480...,Afd. 48 Løkkegårdsparken,Rækkehus,4,110,9300,1.0,"Særlige vilkår: Alle boliger er røgfri, og der...",NaN,9300.0,NaN,NaN,NaN,NaN,NaN,NaN
2110,https://aarhusbolig.dk/afdelinger/?bolignr=480...,Afd. 48 Løkkegårdsparken,Rækkehus,5,115,9600,1.0,"Særlige vilkår: Alle boliger er røgfri, og der...",NaN,9500.0,NaN,NaN,NaN,NaN,NaN,NaN
2111,https://aarhusbolig.dk/afdelinger/?bolignr=490...,Afd. 49 Rasmus Larsens Vænge,Rækkehus,4,100,8427,8.0,"Udgifter ud over husleje: El, vand og varme af...",40000.0,8127.0,NaN,NaN,300.0,NaN,NaN,NaN
2112,https://aarhusbolig.dk/afdelinger/?bolignr=999...,Afd. 51 Banegårdsgade (ungdomsboliger),Ungdomsboliger,2,50,4038,1.0,Husdyr: Det er ikke tilladt at holde husdyr i ...,NaN,4038.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Which columns have how many null values?
df.isnull().sum()

url               0
address           0
type              0
rooms             0
size_m2           0
price             0
listings          4
text              6
deposit           6
rent              0
electricity    1778
heat            967
water           749
tv_internet    1595
b-ordning      1986
other          1478
dtype: int64