In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('temperature_signals.csv')

In [19]:
df.head()

                  time    temp1    temp2    temp3
0  2021-05-04 17:10:01  10.9934      NaN  13.6496
1  2021-05-04 17:10:02  10.7878      NaN  14.7106
2  2021-05-04 17:10:03  10.2174  12.0238  13.4136
3  2021-05-04 17:10:04  11.6362  12.9300  14.3805
4  2021-05-04 17:10:05  10.7618  13.7138  11.2065

In [20]:
firstDate = type(df.iloc[0,0])

In [21]:
import datetime

In [22]:
df['time'] = pd.to_datetime(df['time'])

In [23]:
df.dtypes

time     datetime64[ns]
temp1           float64
temp2           float64
temp3           float64
dtype: object